{% extends 'form.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
	<div class="form-page background-dark-accent">
		<div class="container list" data-width="narrow">
			<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
			
			{% if token_fail %}
				{% url 'account_reset_password' as passwd_reset_url %}
				<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
					Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
			{% else %}
				<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="{% trans 'Reset My Password' %}"/>
				</form>
			{% endif %}
		</div>
	</div>
	
{% endblock %}

