.account {
    form {
        gap: clamp(2rem, 1.6307rem + 1.5758vi, 2.8125rem);
    }

    input {
        background: none;
        color: hsl(var(--green-smoke-950) / 0.6);
        border: none;
        border-bottom: 1px solid hsl(var(--green-smoke-950));
        width: 100%;
    }

    h4 {
        text-transform: uppercase;
    }
}