footer {
    margin-top: auto;
}

footer section {
    background-color: hsl(var(--green-smoke-950));
    box-shadow: 0 -4px 4px 0 hsla(0, 0%, 0%, 0.25);
    padding-block: 1em;
    justify-content: center;
    text-align: center;
    margin-top: clamp(2.375rem, 1.4659rem + 3.8788vi, 4.375rem);
}

.primary-footer {
    display: flex;
    flex-direction: column;
}

footer .social {
    grid-template-columns: repeat(4, 1fr);
}

footer .fa-brands {
    color: hsl(var(--porsche-50));
}