.main-form {
	--_opacity: 1;
	overflow-y: hidden;
	height: 100vh; /*fallback*/
	height: 100dvh; /*100svh*/
	position: absolute;
	inset: 0;
	opacity: var(--_opacity);
}


.form-page {
	--_opacity: 0;
	
	height: 100vh; /*fallback*/
	height: 100dvh; /*100svh*/
	position: absolute;
	inset: 0;
	transition: transform 600ms ease 0s, opacity 300ms ease 0s;
	display: none;
}

.form-page[data-form-page-active] {
	--_opacity: 1;
	display: block;
}

.form-page[data-form-page-position="active"] {
	--_opacity: 1;
	display: block;
	/*transform: translateY(0);*/
	
}

.form-page[data-form-page-position="above"] {
	display: none;
	transform: translateY(-100vh);
}

.form-page[data-form-page-position="below"] {
	display: none;
	transform: translateY(100vh);
}

.form-page[data-form-page-position="above"],
.form-page[data-form-page-position="below"] {
	--_opacity: 0;
}

.list-item {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	/*grid-template-rows: repeat(2, 1fr);*/
	gap: 1em 0.5em;
	grid-auto-rows: min-content;
	align-content: center;
	
	min-height: 100vh;
	align-items: center;
}

.list-item label,
.list-item input,
.list-item .btn-form,
.list-item small {
	grid-column: 2 / -2;
}

.list-item span {
	/*grid-row: 1;*/
	place-self: start end;
}

.list-item label {
	/*grid-row: 1;*/
	place-self: end start;
	
}

.list-item input {
	/*grid-row: 2;*/
	place-self: start;
	min-width: 100%;
}

.form-page input {
	color: hsl(var(--porsche-50));
	border: none;
	background: none;
	border-bottom: 1px solid hsl(var(--porsche-50));;
}

/*Progress Bar  */
/*https://www.youtube.com/watch?v=ZF1hXoq8Lk0*/
.progress-bar {
	position: relative;
	z-index: var(--header-layer);
	height: 2px;
	width: var(--progress);
	background-color: hsl(var(--porsche-700));
}

.btn-form {
	--_btn-radius: 4px;
	background: linear-gradient(90deg, hsl(var(--porsche-700)) 0%, hsl(var(--porsche-700)) 3.27%, hsl(var(--porsche-50)) 3.29%);
	transition: background-color 0.3s ease-out;
}

.btn-form:hover {
	background: linear-gradient(90deg, hsl(var(--porsche-700)) 0%, hsl(var(--porsche-700)) 3.27%, hsl(var(--porsche-200)) 3.29%);
}

.btn-form-direction-wrapper {
	--gap: 0.5em;
	--_opacity: 1;
	position: absolute;
	z-index: var(--header-layer);
	bottom: var(--standard-padding);
	right: var(--standard-padding);
	opacity: var(--_opacity);
	transition: opacity 300ms ease 0s;;
}

/*.form-page:not(:first-of-type) .btn-form-direction-wrapper {*/
/*	--_opacity: 1;*/
/*}*/

.btn-form-direction[data-form-direction="up"] {
	--_btn-radius: 4px 0 0 4px;
}

.btn-form-direction[data-form-direction="down"] {
	--_btn-radius: 0 4px 4px 0;
}

/*.form-page:last-of-type ~ .btn-form-direction-wrapper [data-form-direction="up"] {*/
/*	--_btn-radius: 4px;*/
/*}*/

/*.form[data-current-page="last"] .btn-form-direction-wrapper [data-form-direction="down"] {*/
/*	!*display: none;*!*/
/*}*/