.intro {
    height: calc(100vh - var(--header-height) - var(--scroll-teaser-height));
    padding-top: 1em;

    .intro__logo {
        margin-inline: auto;
        margin-top: 1em;
    }

    .intro__logo + div {
        height: calc(100% - var(--header-height) - var(--scroll-teaser-height));
        align-items: center;
        padding-top: 1em;
    }

    .intro__text {
        --gap: 1em;
    }

    .sm-screen-d-none img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    @media screen and (width > 56.25em) {
        --gap: 5em;
    }
}

.scroll-teaser {
    height: var(--scroll-teaser-height);
    background-color: hsl(var(--green-smoke-100));
}