/* ------------------- */
/* Utilities           */
/* ------------------- */

/* Layouts */
.container {
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 80rem;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
    flex-wrap: wrap;
}

.flex > * {
    flex: 1;
}

.flex-with-sidebar {
    align-items: start;
    max-width: calc(var(--bp-x-large) * 1rem);
    margin-inline: auto;
}

.flex-with-sidebar > :first-child {
    flex-basis: 500px;
    flex-grow: 9999;
}

.flex-with-sidebar > :last-child {
    flex-basis: 300px;
    flex-grow: 1;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.auto-grid {
    grid-template-columns: repeat(
            auto-fit,
            minmax(min(10rem, 100%), 1fr));
}

.horizontal-grid {
    grid-auto-flow: column;
    grid-auto-columns: 45%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
}

.horizontal-grid > * {
    scroll-snap-align: start;
}

/* Screen Reader */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background-color: hsl(var(--porsche-50), white);
    color: hsl(var(--green-smoke-950), black);
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

.uppercase {
    text-transform: uppercase;
}

.background-dark {
    background-color: hsl(var(--green-smoke-950));
}

.background-dark-accent {
    background-color: hsl(var(--green-smoke-700));
}

.background-accent {
    background-color: hsl(var(--green-smoke-100));
}

.background-light {
    background-color: hsl(var(--porsche-50));
}

.text-dark {
    color: hsl(var(--green-smoke-950));
}

.text-dark-accent {
    color: hsl(var(--green-smoke-700));
}

.text-accent {
    color: hsl(var(--green-smoke-100));
}

.text-white {
    color: hsl(var(--porsche-50));
}