/* ------------------- */
/* Utilities           */
/* ------------------- */

/* Screen Reader */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background-color: hsl(var(--porsche-50), white);
    color: hsl(var(--green-smoke-950), black);
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

.uppercase {
    text-transform: uppercase;
}


/* Background */
.background-dark {
    background-color: hsl(var(--green-smoke-950));
}

.background-dark-accent {
    background-color: hsl(var(--green-smoke-700));
}

.background-accent {
    background-color: hsl(var(--green-smoke-100));
}

.background-light {
    background-color: hsl(var(--porsche-50));
}

.text-dark {
    color: hsl(var(--green-smoke-950));
}

.text-dark-accent {
    color: hsl(var(--green-smoke-700));
}

.text-accent {
    color: hsl(var(--green-smoke-100));
}

.text-white {
    color: hsl(var(--porsche-50));
}

.align-bottom {
    margin-top: auto;
}

.center {
    margin-inline: auto;
}

.sm-screen-d-none {
    display: none;
}

@media screen and (width >= 56.25em) {
    .sm-screen-d-none {
        display: block;
    }
}

@media screen and (width >= 56.25em) {
    .lg-screen-d-none {
        display: none;
    }
}

/* https://www.youtube.com/watch?v=0-WRRh3ZXhw */
/* Hero section */
.hero {
    height: 100vh; /*fallback*/
    height: 100dvh; /*100svh*/
}

.full-width {
    width: 100%;
}

.hr-with-text {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}

.hr-with-text:before,
.hr-with-text:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid hsl(var(--porsche-50));
    margin: auto;
}

.hr-with-text:before {
    margin-right: 1em;
}

.hr-with-text:after {
    margin-left: 1em;
}

.error-msg {
    color: hsl(var(--porsche-600));
}

.done {
    text-decoration: line-through;
}