/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
	/* Colours */
	--mischka-50: 240 6% 97%;
	--mischka-100: 220 10% 94%;
	--mischka-200: 223 12% 89%;
	--mischka-300: 233 11% 83%; /* main */
	--mischka-400: 240 10% 74%;
	--mischka-500: 244 9% 67%;
	--mischka-600: 247 8% 59%;
	--mischka-700: 247 6% 51%;
	--mischka-800: 249 6% 41%;
	--mischka-900: 247 5% 34%;
	--mischka-950: 250 6% 20%;

	--green-smoke-50: 77 28% 95%;
	--green-smoke-100: 78 24% 89%;
	--green-smoke-200: 83 23% 80%;
	--green-smoke-300: 84 23% 67%;
	--green-smoke-400: 84 21% 56%; /* main */
	--green-smoke-500: 85 21% 44%;
	--green-smoke-600: 87 23% 35%;
	--green-smoke-700: 87 21% 27%;
	--green-smoke-800: 90 19% 23%;
	--green-smoke-900: 88 17% 20%;
	--green-smoke-950: 87 22% 10%;

	--porsche-50: 40 67% 96%;
	--porsche-100: 39 62% 92%;
	--porsche-200: 38 63% 83%;
	--porsche-300: 36 62% 72%;
	--porsche-400: 33 61% 62%; /* main */
	--porsche-500: 33 61% 62%;
	--porsche-600: 27 58% 48%;
	--porsche-700: 23 56% 40%;
	--porsche-800: 20 50% 34%;
	--porsche-900: 21 48% 28%;
	--porsche-950: 19 51% 15%;

	--swirl-50: 30 22% 96%;
	--swirl-100: 37 19% 92%;
	--swirl-200: 33 19% 82%; /* main */
	--swirl-300: 33 19% 72%;
	--swirl-400: 29 19% 61%;
	--swirl-500: 25 19% 53%;
	--swirl-600: 22 18% 48%;
	--swirl-700: 20 17% 40%;
	--swirl-800: 16 15% 34%;
	--swirl-900: 15 14% 28%;
	--swirl-950: 15 16% 15%;

	--sandrift-50: 30 22% 96%;
	--sandrift-100: 37 19% 92%;
	--sandrift-200: 33 19% 82%;
	--sandrift-300: 33 19% 72%;
	--sandrift-400: 29 19% 61%; /* main */
	--sandrift-500: 25 19% 53%;
	--sandrift-600: 22 18% 48%;
	--sandrift-700: 20 17% 40%;
	--sandrift-800: 16 15% 34%;
	--sandrift-900: 15 14% 28%;
	--sandrift-950: 15 16% 15%;

	/* breakpoint variables */
	--bp-small: 24.15;
	--bp-medium: 45.75;
	--bp-large: 60.25;
	--bp-x-large: 75;

	/*https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/*/
	--tablet: 34.5; /*rem*/
	--tablet-landscape: 56.25;
	--desktop: 75;
	--big-desktop: 112.5;

	--roboto-flex: 'Roboto Flex', sans-serif;
	--caveat: 'Caveat', cursive;

	--h1-font-size-min: 2rem;
	--h1-font-size-max: 3rem;
	--h2-font-size-min: 1.625rem;
	--h2-font-size-max: 2.25rem;
	--h3-font-size-min: 1.5rem;
	--h3-font-size-max: 2rem;
	--h4-font-size-min: 1.25rem;
	--h4-font-size-max: 1.75rem;
	--p-font-size-min: 1rem;
	--p-font-size-max: 1.125rem;
	--small-text-size-min: 1rem;
	--small-text-size-max: 0.875rem;
	--a-font-size-min: 1rem;
	--a-font-size-max: 1.125rem;
	--nav-item-font-size-min: 1.125rem;
	--nav-item-font-size-max: 1.25rem;
	--page-marker-font-size-min: 0.875rem;
	--page-marker-font-size-max: 1.25rem;
	--scroll-down-font-size-min: 1.25rem;
	--scroll-down-font-size-max: 2.25rem;

	--fs-h1: 5rem;
	--fs-h2: 2.5rem;
	--fs-h3: 1.5rem;
	--fs-h4: 1.25rem;
	--fs-p: 1rem;

	/* Spacing */
	--container-padding-inline: 2rem;
	--container-max-width: 80rem;
	--section-padding-block: 3rem;
	--padding: max(3vh, 1rem) 1.5rem;
	--margin: max(6vh, 2rem);

	--container-width-narrow: 45rem;
	--container-width-regular: 75rem;
	--container-width-wide: 87.5rem;
	--container-width-full: 100%;
	--standard-padding: 1rem;

	--header-image-margin: clamp(1.875rem, 1.0489rem + 4.1304vw, 4.25rem);

	/* z-index */
	--header-layer: 1000;
	--top-layer: 9999;

	/* Effects */
	--box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

	/* Forms */
	--progress: 0;

	--scroll-teaser-height: clamp(2.5rem, 2.2159rem + 1.2121vw, 3.125rem);
}


@media (width > 40em) {
	:root {
		--fs-h1: 6.25rem;
		--fs-h2: 3.5rem;
		--fs-h3: 2rem;
		--fs-h4: 1.75rem;
		--fs-p: 1.125rem;
	}
}