<!-- account.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
	<section class="account container" data-width="regular">
		<h1>Account Settings</h1>
		<form action="" class="grid">
			<div class="form-group grid">
				<h4>Name</h4>
				<div class="grid grid-columns" data-columns="2">
					<label for="first-name"><input id="first-name" type="text" placeholder="First"></label>
					<label for="last-name"><input id="last-name" type="text" placeholder="Last"></label>
				</div>
			</div>
			
			<div class="form-group grid">
				<h4>Check In</h4>
				<div class="grid grid-columns" data-columns="2">
					<label for="morning" class="custom-select">
						<select name="morning" id="morning">
							<option value="">09:00</option>
							<option value="">10:00</option>
							<option value="">11:00</option>
						</select>
						<span class="custom-arrow"></span>
					</label>
					<label for="evening" class="custom-select">
						<select name="evening" id="morning">
							<option value="">18:00</option>
							<option value="">19:00</option>
							<option value="">20:00</option>
						</select>
						<span class="custom-arrow"></span>
					</label>
				</div>
			</div>
			
			<div class="form-group grid">
					<h4>Start Day of Week</h4>
					<label for="day-of-the-week" class="custom-select">
						<select name="day-of-the-week" id="day-of-the-week">
							<option value="">Monday</option>
							<option value="">Tuesday</option>
							<option value="">Wednesday</option>
							<option value="">Thursday</option>
							<option value="">Friday</option>
							<option value="">Saturday</option>
							<option value="">Sunday</option>
						</select>
						<span class="custom-arrow"></span>
					</label>
			</div>
			
			<div class="form-group grid">
				<div class="grid grid-columns" data-columns="2">
					<div>
						<h4>Email</h4>
						<label for="email"><input id="email" type="text" placeholder="your@email.com"></label>
					</div>
				</div>
			</div>
		
		</form>
	
	</section>
{% endblock content %}

{% block custom_js %}
{% endblock %}
