{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mindful Minutes | {{ title }}</title>

    <link
            rel="stylesheet"
            href="{% static 'css/index.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/utilities.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/header.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/footer.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/design_system.css' %}"
            type="text/css"
    />
</head>
<body>

    <div class="container">
        <h1>Design system</h1>

        <section id="colors">
            <h2><span>01</span> colours</h2>
            <div class="flex">
                <div>
                    <div class="border mischka">#d0d1d9</div>
                    <p>RGB 208 209 217</p>
                    <p>HSL 230 11% 83%</p>
                </div>
                <div>
                    <div class="border green-smoke">#93a677</div>
                    <p>RGB 147 166 119</p>
                    <p>HSL 84 21% 56%</p>
                </div>
                <div>
                    <div class="border porsche">#d9a362</div>
                    <p>RGB 217 163 98</p>
                    <p>HSL 33 61% 62%</p>
                </div>
                <div>
                    <div class="border swirl">#d9d1c7</div>
                    <p>RGB 217 209 199</p>
                    <p>HSL 33 19% 82%</p>
                </div>
                <div>
                    <div class="border sandrift">#a6836f</div>
                    <p>RGB 166 131 111</p>
                    <p>HSL 22 24% 54%</p>
                </div>
            </div>

        </section>

        <section>
            <h2><span>02</span>typography</h2>
            <div class="flex">
                <div>
                    <p>Heading 1 - Roboto Flex - 42px</p>
                    <h1>Make time a habit</h1>
                </div>
                <div>
                    <p>Heading 1 - Roboto Flex - 32px</p>
                    <h1>Make time a habit</h1>
                </div>
            </div>
        </section>

    </div>

</body>
</html>