{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mindful Minutes | {{ title }}</title>

    <script>
        window.typetura = {
            selectors: [
                ".flex",
                "article",
                "section",
                "aside"
            ], // list of selectors to be used as contexts
            base: 20,  // target base font size in px. Mostly used by official packages.
            scale: 1 // scale factor to make headlines bigger or smaller. Mostly used by official packages.
        };
    </script>
    <script src="{% static 'js/typetura.min.js' %}"></script>

    <link
            rel="stylesheet"
            href="{% static 'css/index.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/typography.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/utilities.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/header.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/footer.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/main.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/buttons.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/design_system.css' %}"
            type="text/css"
    />

</head>
<body>
    <header>
        <section class="header-base">
            <div class="primary-header container" data-width="wide">
                <div>
                    <img class="logo" src="" alt="Logo"/>
                </div>

                <button class="nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
                    <svg width="48px" height="48px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <line x1="0" y1="17" x2="48" y2="17" stroke-width="1"></line>
                            <line x1="0" y1="31" x2="48" y2="31" stroke-width="1"></line>
                        </g>

                        <g>
                            <line x1="0" y1="24" x2="48" y2="24" stroke-width="1"></line>
                            <line x1="0" y1="24" x2="48" y2="24" stroke-width="1"></line>
                        </g>
                    </svg>
                    <span class="sr-only">Menu</span>
                </button>

                <nav>
                    <ul id="primary-navigation" data-visible="false" class="primary-navigation">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>


    <div class="container" data-width="wide">
        <h1>Design system</h1>

        <section id="colors">
            <h2><span>01</span> colours</h2>
            <div class="grid auto-grid">
                <div>
                    <div class="border mischka">#d0d1d9</div>
                    <p>RGB 208 209 217</p>
                    <p>HSL 230 11% 83%</p>
                </div>
                <div>
                    <div class="border green-smoke">#93a677</div>
                    <p>RGB 147 166 119</p>
                    <p>HSL 84 21% 56%</p>
                </div>
                <div>
                    <div class="border porsche">#d9a362</div>
                    <p>RGB 217 163 98</p>
                    <p>HSL 33 61% 62%</p>
                </div>
                <div>
                    <div class="border swirl">#d9d1c7</div>
                    <p>RGB 217 209 199</p>
                    <p>HSL 33 19% 82%</p>
                </div>
                <div>
                    <div class="border sandrift">#a6836f</div>
                    <p>RGB 166 131 111</p>
                    <p>HSL 22 24% 54%</p>
                </div>
            </div>
        </section>

        <section>
            <h2><span>02</span>typography</h2>
            <div class="grid grid-columns" data-columns="2">
                <div>
                    <p>Heading 1 - Roboto Flex</p>
                    <h1>Make time a habit</h1>
                </div>
                <div>
                    <p>Heading 2 - Roboto Flex</p>
                    <h2>Set meaningful goals</h2>
                </div>
                <div>
                    <p>Heading 3 - Roboto Flex</p>
                    <h3>Unlock your full potential.</h3>
                </div>
                <div>
                    <p>Heading 4 - Roboto Flex</p>
                    <h4>Start each day with intention</h4>
                </div>

                <div>
                    <p>Paragraph / Body text - Roboto Flex</p>
                    <p>Develop a habit of self-reflection and self-awareness. Reflect on your day, celebrate wins and
                        identify areas for improvement.</p>
                </div>
                <div>
                    <p>Anchor text - Roboto Flex</p>
                    <a href="#">Learn more </a>
                </div>
            </div>
        </section>


    </div>
    {#https://awik.io/generate-random-images-unsplash-without-using-api/#}
    <div>
        <section class="container-escape-split-width">
            <img src="https://source.unsplash.com/random/300×300/?city,night"
                 alt="Random Unsplash image">
            <div class="background-light">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, asperiores commodi
                    debitis eaque error, est fuga harum itaque laboriosam nisi numquam, obcaecati officia provident
                    quisquam suscipit veritatis. Incidunt, ipsa.</p>
                <a href="#" class="button">Keep reading</a>
            </div>
        </section>
        <section class="container-escape-split-width">
            <div class="background-light">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, asperiores commodi
                    debitis eaque error, est fuga harum itaque laboriosam nisi numquam, obcaecati officia provident
                    quisquam suscipit veritatis. Incidunt, ipsa.</p>
                <a href="#" class="button">Keep reading</a>
            </div>
            <div class="background-dark text-white">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, asperiores commodi
                    debitis eaque error, est fuga harum itaque laboriosam nisi numquam, obcaecati officia provident
                    quisquam suscipit veritatis. Incidunt, ipsa.</p>
                <a href="#" class="button">Keep reading</a>
            </div>
        </section>

        <section class="container-escape-split-width">
            <div class="background-light">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, asperiores commodi
                    debitis eaque error, est fuga harum itaque laboriosam nisi numquam, obcaecati officia provident
                    quisquam suscipit veritatis. Incidunt, ipsa.</p>
                <a href="#" class="button">Keep reading</a>
            </div>
            <img src="https://source.unsplash.com/random/?art,abstract"
                 alt="Random Unsplash image">
        </section>
        <section class="container-escape-split-width">
            <img src="https://source.unsplash.com/random/?cat"
                 alt="Random Unsplash image">
            <img src="https://source.unsplash.com/random/?dog"
                 alt="Random Unsplash image">
        </section>
    </div>

    <div class="container" data-width="wide">
        <h2>Page markers (mobile)</h2>

        <section class="grid grid-auto">
            <div class="marked-image" data-marker-position="top-right">
                <img src="{% static 'img/landing_page/woman_smiling.svg' %}"
                     alt="Girl smiling on sunny day in the city.">
                <div class="page-marker blue">
                    To do
                </div>
            </div>
            <div class="marked-image" data-marker-position="top-left">
                <img src="{% static 'img/landing_page/woman_holding_sparkler.svg' %}"
                     alt="Girl smiling on sunny day in the city.">
                <div class="page-marker hotpink">
                    Thankful for
                </div>
            </div>
            <div class="marked-image" data-marker-position="bottom-right">
                <img src="{% static 'img/landing_page/group_jumping.svg' %}"
                     alt="Girl smiling on sunny day in the city.">
                <div class="page-marker orangered">
                    Wins
                </div>
            </div>
            <div class="marked-image" data-marker-position="bottom-left">
                <img src="{% static 'img/landing_page/lightbulb_with_sky.svg' %}"
                     alt="Girl smiling on sunny day in the city.">
                <div class="page-marker yellow">
                    Ideas
                </div>
            </div>
        </section>
    </div>

    <div class="container" data-width="wide">
        <h2>Buttons</h2>

        <section>
            <button class="btn btn-form">
                Continue
            </button>

            <div class="btn-form-direction-wrapper flex">
                <button class="btn btn-form-direction" data-form-direction="up">
                    <i class="fa-solid fa-chevron-up"></i>
                </button>
                 <button class="btn btn-form-direction" data-form-direction="down">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>
        </section>
    </div>

    <footer>
        <div class="primary-footer container" data-width="wide">
            <div>
                <img src="" alt="Logo">
            </div>
            <div>
                <span>LinkedIn</span>
                <span>Facebook</span>
                <span>Twitter</span>
                <span>Instagram</span>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/28847961b6.js" rel="preconnect" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/nav-header.js' %}"></script>
</body>
</html>