{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mindful Minutes | {{ title }}</title>

    <link
            rel="stylesheet"
            href="{% static 'css/index.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/utilities.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/header.css' %}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{% static 'css/footer.css' %}"
            type="text/css"
    />
</head>
<body>

    <div class="container">
        <h1>Design system</h1>
    </div>

</body>
</html>