<!-- index.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main>
        <section class="container" data-width="wide">
            <img class="header-logo-image" src="{% static 'img/logo_big_dark.svg' %}" alt="">
            <h1>Make time a habit</h1>
            <h3>Unlock your full potential</h3>
            <p>Embrace self-reflection, set goals and make
                progress. Journal your way to personal growth
                and achievement.</p>
            <div class="grid grid-center">
                <a href="{% url 'account_signup' %}">
                    <button class="btn btn-green">
                        Start today
                    </button>
                </a>
            </div>
        </section>

        <section class="grid page-markers container" data-width="narrow" data-space="narrow">
            <div class="marked-image" data-marker-position="top-right">
                <img src="{% static 'img/landing_page/woman_smiling.svg' %}"
                     alt="Girl smiling on sunny day in the city.">
                <div class="page-marker blue">
                    To do
                </div>
            </div>
            <div class="marked-image" data-marker-position="top-left">
                <img src="{% static 'img/landing_page/woman_holding_sparkler.svg' %}"
                     alt="Girl smiling on sunny day in the city.">
                <div class="page-marker hotpink">
                    Thankful for
                </div>
            </div>
            <div class="marked-image" data-marker-position="bottom-right">
                <img src="{% static 'img/landing_page/group_jumping.svg' %}"
                     alt="Girl smiling on sunny day in the city.">
                <div class="page-marker orangered">
                    Wins
                </div>
            </div>
            <div class="marked-image" data-marker-position="bottom-left">
                <img src="{% static 'img/landing_page/lightbulb_with_sky.svg' %}"
                     alt="Girl smiling on sunny day in the city.">
                <div class="page-marker yellow">
                    Ideas
                </div>
            </div>
        </section>

        <section class="grid grid-center page-teaser background-accent">
                <span class="fa-stack fa-2x">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-chevron-down fa-stack-1x fa-inverse"></i>
            </span>
        </section>

        <section class="container background-accent full-bleed" data-width="wide">
            <img src="https://source.unsplash.com/random/300×300/?city,night"
                 alt="Random Unsplash image">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, asperiores commodi
                    debitis eaque error, est fuga harum itaque laboriosam nisi numquam, obcaecati officia provident
                    quisquam suscipit veritatis. Incidunt, ipsa.</p>
                <a href="#" class="button">Keep reading</a>
            </div>
        </section>
    </main>


{% endblock content %}