<!-- index.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
	<section class="container intro" data-width="regular">
		<img class="intro__logo" src="{% static 'img/logo_full_dark.svg' %}" alt="">
		<div class="grid grid-columns" data-columns="2">
			<div class="grid intro__text">
				<h1>Make time a habit</h1>
				<h3>Unlock your full potential</h3>
				<p>Embrace self-reflection, set goals and make
					progress. Journal your way to personal growth
					and achievement.</p>
				<a class="center" href="{% url 'account_signup' %}">
					<button class="btn btn-green">
						Start today
					</button>
				</a>
			</div>
			<div class="intro__img sm-screen-d-none">
				<picture>
					<source media="(min-width: 900px)"
					        srcset="{% static 'img/landing_page/lg/green_floral_notebook-lg_1x.webp' %} 1x,
					                            {% static 'img/landing_page/lg/green_floral_notebook-lg_2x.webp' %} 2x"
					        type="image/webp">
					<source media="(min-width: 601px)"
					        srcset="{% static 'img/landing_page/md/green_floral_notebook-md_1x.webp' %} 1x,
					                            {% static 'img/landing_page/md/green_floral_notebook-md_2x.webp' %} 2x"
					        type="image/webp">
					<source srcset="{% static 'img/landing_page/sm/green_floral_notebook-sm_1x.webp' %} 1x,
					                            {% static 'img/landing_page/sm/green_floral_notebook-sm_2x.webp' %} 2x"
					        type="image/webp">
					<img loading="lazy"
					     srcset="{% static 'img/landing_page/sm/green_floral_notebook-sm_1x.jpg' %} 600w,
					                            {% static 'img/landing_page/md/green_floral_notebook-md_1x.jpg' %} 900w,
					                            {% static 'img/landing_page/lg/green_floral_notebook-lg_1x.jpg' %} 1440w"
					     src="{% static 'img/landing_page/lg/green_floral_notebook-lg_1x.jpg' %}"
					     sizes="(min-width: 768px) 50vw, 100vw"
					     alt="Green floral notebook with light green background">
				</picture>
			</div>
		</div>
		
		<span class="scroll-animation fa-stack fa-2x">
	        <i class="fa-solid fa-circle fa-stack-2x"></i>
	        <i class="fa-solid fa-chevron-down fa-stack-1x fa-inverse"></i>
	    </span>
	</section>
	<div class="scroll-teaser"></div>
	<section class="container background-accent full-bleed learn-more" data-width="wide">
		<div class="grid grid-columns" data-columns="2">
			<picture>
				<source media="(min-width: 900px)"
				        srcset="{% static 'img/landing_page/lg/laptop-notebook-lg_1x.webp' %} 1x,
					                            {% static 'img/landing_page/lg/laptop-notebook-lg_2x.webp' %} 2x"
				        type="image/webp">
				<source media="(min-width: 601px)"
				        srcset="{% static 'img/landing_page/md/laptop-notebook-md_1x.webp' %} 1x,
					                            {% static 'img/landing_page/md/laptop-notebook-md_2x.webp' %} 2x"
				        type="image/webp">
				<source srcset="{% static 'img/landing_page/sm/laptop-notebook-sm_1x.webp' %} 1x,
					                            {% static 'img/landing_page/sm/laptop-notebook-sm_2x.webp' %} 2x"
				        type="image/webp">
				<img loading="lazy"
				     srcset="{% static 'img/landing_page/sm/laptop-notebook-sm_1x.jpg' %} 600w,
					                            {% static 'img/landing_page/md/laptop-notebook-md_1x.jpg' %} 900w,
					                            {% static 'img/landing_page/lg/laptop-notebook-lg_1x.jpg' %} 1440w"
				     src="{% static 'img/landing_page/lg/laptop-notebook-lg_1x.jpg' %}"
				     sizes="(min-width: 768px) 50vw, 100vw"
				     alt="Laptop with notebook">
			</picture>
			<div class="learn-more__text">
				<h2>Set meaningful goals</h2>
				<h4>Start each day with intentions</h4>
				<p>Stay organised and focused on what matters most
					to you. Foster a deeper connection with your goals
					and enhance your commitment.</p>
				<a href="#" class="more-btn">Learn more <i class="fa-solid fa-arrow-right-long"></i></a>
				<a href="{% url 'account_signup' %}">
					<button class="btn btn-green" data-btn-size="long">
						Get Started
					</button>
				</a>
			</div>
		</div>
	</section>
	
	<section class="container learn-more" data-width="wide">
		<div class="grid grid-columns" data-columns="2">
			<div class="learn-more__text">
				<h2>Embrace the present</h2>
				<h4>Start each day with intentions</h4>
				<p>Develop a habit of self-reflection and self-awareness.
					Reflect on your day, celebrate wins and identify areas
					for improvement.</p>
				<a href="#" class="more-btn">Learn more <i class="fa-solid fa-arrow-right-long"></i></a>
				<a href="{% url 'account_signup' %}">
					<button class="btn btn-green" data-btn-size="long">
						Get Started
					</button>
				</a>
			</div>
			<picture>
				<source media="(min-width: 900px)"
				        srcset="{% static 'img/landing_page/lg/empty-notebook-lg_1x.webp' %} 1x,
					                            {% static 'img/landing_page/lg/empty-notebook-lg_2x.webp' %} 2x"
				        type="image/webp">
				<source media="(min-width: 601px)"
				        srcset="{% static 'img/landing_page/md/empty-notebook-md_1x.webp' %} 1x,
					                            {% static 'img/landing_page/md/empty-notebook-md_2x.webp' %} 2x"
				        type="image/webp">
				<source srcset="{% static 'img/landing_page/sm/empty-notebook-sm_1x.webp' %} 1x,
					                            {% static 'img/landing_page/sm/empty-notebook-sm_2x.webp' %} 2x"
				        type="image/webp">
				<img loading="lazy"
				     srcset="{% static 'img/landing_page/sm/empty-notebook-sm_1x.jpg' %} 600w,
					                            {% static 'img/landing_page/md/empty-notebook-md_1x.jpg' %} 900w,
					                            {% static 'img/landing_page/lg/empty-notebook-lg_1x.jpg' %} 1440w"
				     src="{% static 'img/landing_page/lg/empty-notebook-lg_1x.jpg' %}"
				     sizes="(min-width: 768px) 50vw, 100vw"
				     alt="Laptop with notebook">
			</picture>
		</div>
	</section>
{% endblock content %}

{% block scroll_icon %}

{% endblock scroll_icon %}

{% block custom_js %}
	<script defer src="{% static 'js/page-scroller.js' %}"></script>
{% endblock %}
