<!-- index.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
	<section>
		
		<div class="scroller">
			<div class="scroller__item">
				<div class="calendar-date">8</div>
				<p class="calendar-number">Mon</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">9</div>
				<p class="calendar-number">Tue</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">10</div>
				<p class="calendar-number">Wed</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">11</div>
				<p class="calendar-number">Thu</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">12</div>
				<p class="calendar-number">Fri</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">13</div>
				<p class="calendar-number">Sat</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">14</div>
				<p class="calendar-number">Sun</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">15</div>
				<p class="calendar-number">Mon</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">16</div>
				<p class="calendar-number">Tue</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">17</div>
				<p class="calendar-number">Wed</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">18</div>
				<p class="calendar-number">Thu</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">19</div>
				<p class="calendar-number">Fri</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">20</div>
				<p class="calendar-number">Sat</p>
			</div>
			<div class="scroller__item">
				<div class="calendar-date">21</div>
				<p class="calendar-number">Sun</p>
			</div>
		</div>
	
	</section>
{% endblock content %}

{% block scroll_icon %}{% endblock scroll_icon %}